.AddPerson{
    width: 100%;
    height: 450px;
    position: relative;
    border: 1px solid rgb(5, 5, 5);
}
.title{
    width: 20%;
    padding: 1rem;
    text-align: center;
    border: 1px solid gray;
}
.AddBtn{
    width: 5.5rem;
    height: 2rem;
    position: absolute;
    right: 2px;
    bottom: 3px;
    color:aliceblue;
    border: none;
    box-shadow: 2px 4px 4px rgb(74, 74, 75);
    background-color:  rgba(35, 35, 167, 0.911);
}
.AddBtn:hover{
    box-shadow:0 0 20px;
    cursor: pointer;
    opacity: 0.9;
}